
body{
background-image:url('../background.png');
background-repeat:repeat-x;
background-color:#00CCFF;
}

a, a:link, a:active { color: #004285; text-decoration: none; font-weight: bold; font-family: Arial; }
a:hover { color: #004285; text-decoration: underline;}

h1 {
height:80px;
display: block;
margin-top:80px;
padding-top:18px;
width: 800px;
background-image:url('../glas.png');
background-repeat:no-repeat;
font-family: Arial;
font-size:24px;
color: #004285;
text-align: right;
}

#button {
display:inline;
float:left;
border:1px solid #0f66a1;
border-radius:5px;
padding:5px;
margin:2px;
background-color: #0099CC;
text-align:center;
}

#task {
display:block;
position: absolute;
float:left;
border:1px solid #0f66a1;
border-radius:5px;
padding:5px;
margin-top:-5px;
margin-left:-25px;
background-color: #0099FF;
text-align:center;
}

#project{
float:left;
border:1px solid #0f66a1;
border-radius:5px;
padding: 10px;
margin-right:5px;
width:200px;
background-color: #0099CC;;

}

#box {
font-family: Arial;
color: #1a3142;
font-size:15px;
border:1px solid #0f66a1;
border-radius:5px;
padding: 10px;
background-color: #0099FF;
width: 800px;
margin:0 auto;
}

#top{
font-family: Arial;
color: #1a3142;
font-size:15px;
border:1px solid #0f66a1;
border-radius:5px;
padding: 10px;
background-color: #0099CC;
margin:0 auto;
}

#bottom {
font-family: Arial;
color: #1a3142;
font-size:15px;
border:1px solid #0f66a1;
border-radius:5px;
padding: 10px;
background-color: #0099CC;
margin:0 auto;
}

#content {
height:250px;
font-family: Arial;
color: #1a3142;
font-size:15px;
border:1px solid #0f66a1;
border-radius:5px;
margin:0 auto;
padding: 10px;
}