body{
background-image:url('../background.png');
background-repeat:repeat-x;
background-color:#00CCFF;
}

a, a:link, a:active { color: #004285; text-decoration: none; font-weight: bold; font-family: Arial; }
a:hover { color: #004285; text-decoration: underline;}



h1 {
height:80px;
display: block;
width: 65%;
margin-top:120px;
padding-top:18px;
padding-left:230px;
background-image:url('../glas.png');
background-repeat:no-repeat;
font-family: Arial;
font-size:24px;
color: #004285;
text-align: right;
}

#menu {
position:fixed;
z-index:100;
top:0;
left:0;
padding:5px;
width:100%;

border-bottom:1px solid #0f66a1;
background-color: #0099FF;
}

#half {
display: inline-block;
width: -moz-calc(75% - 2px);
width: -webkit-calc(75% - 2px);
width: calc(75% - 2px);
vertical-align:top;
}

#quart {
display: inline-block;
width: -moz-calc(25% - 2px);
width: -webkit-calc(25% - 2px);
width: calc(25% - 2px);
}

#button {
display:inline;
float:left;
border:1px solid #0f66a1;
border-radius:5px;
padding:5px;
margin:2px;
background-color: #0099CC;
text-align:center;
}

#right {
float:right;
margin-right:10px;
}

#task {
display:block;
position: absolute;
float:left;
border:1px solid #0f66a1;
border-radius:5px;
padding:5px;
margin-top:-5px;
margin-left:-25px;
background-color: #0099FF;
text-align:center;
}

#project{
float:left;
border:1px solid #0f66a1;
border-radius:5px;
padding: 10px;
margin-right:5px;
width:21.5%;
background-color: #0099CC;;

}

#box {
font-family: Arial;
color: #1a3142;
font-size:15px;
border:1px solid #0f66a1;
border-radius:5px;
padding: 10px;
background: rgba(0, 153, 255, .5);
width: 95%;
margin:0 auto;
}

#top{
font-family: Arial;
color: #1a3142;
font-size:15px;
border:1px solid #0f66a1;
border-radius:5px;
padding: 10px;
background-color: #0099CC;
margin-bottom:10px;
margin-right:5px;
}

#bottom {
font-family: Arial;
color: #1a3142;
font-size:15px;
border:1px solid #0f66a1;
border-radius:5px;
padding: 10px;
background-color: #0099CC;
}

#content {
font-family: Arial;
color: #1a3142;
font-size:15px;
border:1px solid #0f66a1;
border-radius:5px;
padding: 10px;
margin-right:5px;
margin-bottom:10px;
}

#sortable,#s1,#s2,#s3 { list-style-type: none; margin: 0; padding: 0; width: 200px; }

#sortable li,#s1 li,#s2 li,#s3 li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 15px; height: 15px; }