{% extends "webapp/template.htm" %}

{% block page %} Project List {% endblock %}

{% block head %} 

		 
		 <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
		<script src="//code.jquery.com/jquery-1.9.1.js"></script>
		<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		
		<script>
		
		$(function() {
		$( "#sortable" ).sortable();
		$( "#s1" ).sortable();
		$( "#s2" ).sortable();
		$( "#s3" ).sortable();
		$( "li" ).disableSelection();
		});
		</script>

{% endblock %}

{% block content %}

	<div id="content" style="height:250px;">
		<p>This is box three.</p>
		<p>
		<div id="project">
		<ul id="sortable">
		<li><div id="task">Project 1</div></li>
		<li><div id="task">Itds aas das em 1</div></li>
		<li><div id="task">Item 1</div></li>
		<li><div id="task">Iteadas dasd ada dsam 1</div></li>
		<li><div id="task">Itemasd asd asd as d  1</div></li>
		</ul>
		</div>
		
		<div id="project">
		<ul id="s1">
		<li><div id="task">Project 1</div></li>
		<li><div id="task">Itds aas das em 1</div></li>
		<li><div id="task">Item 1</div></li>
		<li><div id="task">Iteadas dasd ada dsam 1</div></li>
		<li><div id="task">Itemasd asd asd as d  1</div></li>
		</ul>
		</div>
		
		<div id="project">
		<ul id="s2">
		<li><div id="task">Project 1</div></li>
		<li><div id="task">Itds aas das em 1</div></li>
		<li><div id="task">Item 1</div></li>
		<li><div id="task">Iteadas dasd ada dsam 1</div></li>
		<li><div id="task">Itemasd asd asd as d  1</div></li>
		</ul>
		</div>
		
		<div id="project">
		<ul id="s3">
		<li><div id="task">Project 1</div></li>
		<li><div id="task">Itds aas das em 1</div></li>
		<li><div id="task">Item 1</div></li>
		<li><div id="task">Iteadas dasd ada dsam 1</div></li>
		<li><div id="task">Itemasd asd asd as d  1</div></li>
		</ul>
		</div>
		
		</p>
		
	</div>

{% endblock %}

