<!DOCTYPE html>
<html>

{% load static %} 

	<!--header -->

	
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		 <link rel="stylesheet" href="{% static "style/css/style.css" %}" />
        <title>{{title}}</title>
		
		{% block head %} {% endblock %}
		
    </head>

    <body>
	
	
	<div id="menu">
		{% block sidebar %}
		
		<div id="button"><a href='/'>Home</a></div>
		<div id="button"><a href='/create'>+ New project</a></div>
		<div id="button"><a href='/collaborate'>Collaborate</a></div>
		<div id="button"><a href='/plist'>Project list</a></div>
		<div id="button"><a href='/about'>About</a></div>
		
		<div id="right">
		<div id="button"><a href='/register'>Register</a></div>
		<div id="button"><a href='/login'>Login</a></div>
		</div>
		
		{% endblock %}
	</div>
	
	
	<div align="center">
	<h1>{{header}}</h1>
	</div>
	
	<!--body -->
	<div id="box">
	
		<h3>
		{% block page %}
		Home
		{% endblock %}
		</h3>
		
		{% block content %}
		
		{% endblock %}
		
		<!--footer -->
		<div id="bottom">
		<p><b>{{title}}</b>
		<br>
		<i>{{header}}</i>
		<br><br>
		{{description}}
		<br>
		{{members}}
		</p>
		<!--footer -->
	
		</div>
	</div>
	<!--body -->
    </body>

</html>