<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aggressive Backpack</title>

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/awesome-font/font-awesome.min.css">
</head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        ::before
        <div class="container">
            ::before
            <div class="navbar-header">
                ::before
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class=​"sr-only">​Toggle navigation​</span>
                    ​<span class=​"icon-bar">​</span>​
                    <span class=​"icon-bar">​</span>​
                    <span class=​"icon-bar">​</span>​
                </button>
                <a class="navbar-brand" href="{{index}}">Aggressive Backpack</a>
                ::after  ​
            </div>
            <div class="navbat-collapse collapse" style="height:1px;">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{{index}}">Home</a>
                    </li>
                    <li>
                        <a href="{{dashboard}}">Dashboard</a>
                    </li>
                    <li>
                        <a href="{{settings}}">Settings</a>
                    </li>

                    {% if user.is_authenticated %}
                    <a href="{{logout}}">Sign out</a><br />
                    {% else %}
                    <a href="{{register}}">Register</a><br />
                    <a href="{{login}}">Login</a><br />
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{user}}">
                            {% if user.is_authenticated %}
                            {{user.username}}
                            {% else %}
                            User
                            {% endif %}
                        </a>
                        <! User's profile image here>
                    </li>
                    <li>
                        <div><button class="btn" href="{{new-project}}"><i class="icon-plus-sign"></i> New Project</button></div>
                    </li>
                </ul>
            </div>

        </div>


        {%block body_block %}This is the default content of body-block{% endblock %}

        <script src="static/js/jquery-2.1.0.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>

    </body>
</html>