{% extends 'aggressiveBackpack/base.html' %}

{% block title %}Dashboard - AB{% endblock %}

{% block body_block %}
  {% if user.is_authenticated %}
  <div class='page-header'>
    <h1 id='type'>{{ user.username }}'s Dashboard</h1>
  </div>
  <div class="col-lg-8">
    <div class="well">
    {% block list_block %}
        {% if userprojects %}
          <h1>Projects</h1>
          <ul>
            {% for project in userprojects %}
            <li><a href="{{ project.url }}">{{ project.name }}</a></li>
            {% endfor %}
          </ul>
          {% else %}
            <h1>You appear to have no projects</h1>
            <p>Make your first one now!</p>
            <a href='/aggressiveBackpack/new_project/'<button type="button" class="btn btn-primary btn-lg">New Project</button></a>
          {% endif %}
          {% endblock %}
      </div>
    </div>

    <div class="col-lg-4">
      <div class="well">
        {% block project_details_block %}
          <h1>Here is the details block</h1>
        {% endblock %}
      </div>
    </div>
  {% else %}
    <h1>You need to log in</h1>
  {% endif %}
        {% endblock %}
