{% extends 'aggressiveBackpack/base.html' %}

{% block body_block %}
	<div class="jumbotron">
	  <h1>Get stuff done more easily</h1>
	  <p>Projects are hard. Keeping track of everything that needs done by everyone is near impossible. <i>Aggressive Backpack</i> is the solution letting you collaborate on tasks and organise your work and your team as needed. Save time and money! Sign up for Aggressive Backpack today!</p>
	  <p><a href='/aggressiveBackpack/register' class="btn btn-primary btn-lg">Sign Up Now!</a></p>
	</div>
	</br>
    <blockquote>
  		<p>Being organised is gud.</p>
 		 <small>Someone famous in <cite title="Source Title">something</cite></small>
	</blockquote>
{% endblock %}
