{% extends 'aggressiveBackpack/base.html' %}

{% block title %}New Project - AB{% endblock %}

{% block body_block %}
  <form class="form-horizontal" id="new_project_form" method="post" action="/aggressiveBackpack/register/" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
      <!-- Project Name -->
        <div class="form-group">
          <input class="form-control input-lg" type="text" name='name' id="inputLarge" placeholder='Project Name'>
        </div>

        <!-- Description -->
        <div class="form-group">
          <textarea class="form-control" rows="3" name='description' id="textArea" placeholder='Description'></textarea>
        </div>

        <!-- Tags -->
        <div class="form-group">
          <input type="text" class="form-control" name='tags' id="inputDefault" placeholder='Assign your project tags here.'>
        </div>

        <!-- Website -->
        <div class="form-group">
          <input type="text" class="form-control" name='website' id="inputDefault" placeholder='Got a website for that project?'>
        </div>

        <!-- Submit & Cancel button -->
        <div class="form-group">
          <a href='/aggressiveBackpack/'><button class="btn btn-default">Cancel</button></a>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </fieldset>
  </form>

{% endblock %}
