{% extends 'aggressiveBackpack/base.html' %}

{% block title %}Project - AB{% endblock %}

{% block extra_scripts %}
<script src="/../../static/js/custom/project-page.js"></script>
{% endblock %}

{% block body_block %}
  <!-- Page header -->
  <div class='page-header'>
    <h1 id='type'>{{ project.name }}</h1>
    <p><i>Created by {{ project.owner }}</i></p>
  </div>

  <!-- List creation button -->
  <button id='new-list-button' data-toggle="modal" data-target="#new-list-dialog" class="btn btn-primary">New List</button>

  <!-- New list dialog -->
  <div id='new-list-dialog' class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">New List</h4>
      </div>
      <div class="modal-body">
        <!-- New List Form -->
        <form class="form-horizontal" id="new_list_form" method="post" action="/aggressiveBackpack/new_project/" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset>
              <!-- User name -->
                <div class="form-group">
                  <input class="form-control" id="inputDefault" name='owner' type="text" placeholder="{{ user.username }}">
                </div>
              <!-- Project Name -->
              <div class="form-group">
                <input class="form-control input-lg" type="text" name='name' id="inputLarge" placeholder='Project Name'>
              </div>

              <!-- Description -->
              <div class="form-group">
                <textarea class="form-control" rows="3" name='description' id="textArea" placeholder='Description'></textarea>
              </div>

              <!-- Tags -->
              <div class="form-group">
                <input type="text" class="form-control" name='tags' id="inputDefault" placeholder='Assign your project tags here.'>
              </div>

              <!-- Website -->
              <div class="form-group">
                <input type="text" class="form-control" name='website' id="inputDefault" placeholder='Got a website for that project?'>
              </div>
        </div>
      <div class="modal-footer">
        <!-- Submit & Cancel button -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </div>
    </fieldset>
    </form>
    </div>
  </div>
</div>

<!--Main list view
    Populates from Django's context with lists and tasks.
    Not decided if it will be a scrollable element (horizontally) or paginated.
    -->
<div class="col-lg-12">
    {% if lists %}
      {% for list in lists %}
        <div class="col-lg-3">
          <div class="panel panel-default">
            <div style="background-color:{{ list.colour }}" class="panel-heading">{{ list.name }}</div>
            <div class="panel-body">
              {% if list.tasks %}
                {% for task in tasks %}
                    <button type="button" id={{ task.id }} class="btn btn-default btn-lg btn-block">{{ task.title }}</button>
                {% endfor %}
              {% else %}
                <p>Time to make your first task</p>
              {% endif %}
            </div>
            <div class="panel-footer">
              <a href=""><i class="fa fa-plus"></i> New Task</a>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h1>There are no lists for your project yet.</h1>
      <p>Hit that button up top left to make your first one!</p>
    {% endif %}
</div>
{% endblock %}
