{% extends 'aggressiveBackpack/base.html' %}
{% load static %}
{% load staticfiles %}
{% block title %}Project - AB{% endblock %}

<script src="{% static "/js/aggressiveBackpack/new-project-page.js" %}"></script>

{% block body_block %}
  <!-- Page header -->
  <div class='page-header'>
    <h1 id='type'>{{ project.name }}</h1>
    <p><i>Created by {{ project.owner }}</i></p>
  </div>

  <!-- List creation button & dialog -->
  <button id='new-list-button' type="button" class="btn btn-primary">New List</button>
  <div id='new-list=dialog' class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body…</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-12">
    {% if lists %}
      {% for list in lists %}
        <div class="col-lg-3">
          <div class="panel panel-default">
            <div style="background-color:{{ list.colour }}" class="panel-heading">{{ list.name }}</div>
            <div class="panel-body">
              {% if list.tasks %}
                {% for task in list.tasks %}
                  <button type="button" id={{ task.id }} class="btn btn-default btn-lg btn-block">{{ task.title }}</button>
                {% endfor %}
              {% else %}
                <p>Time to make your first task</p>
              {% endif %}
            </div>
            <div class="panel-footer">
              <a href=""><i class="fa fa-plus"></i> New Task</a>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h1>There are no lists for your project yet.</h1>
      <p>Hit that button up top left to make your first one!</p>
    {% endif %}
</div>
{% endblock %}
