{% extends 'aggressiveBackpack/base.html' %}

{% block title %}Register - AB{% endblock %}


{% block body_block %}
{% if registered %}
<div class="col-lg-8">
	<strong> Thanks for registering!</strong>
</div>
{% else %}

<div class="row">
	<div class="col-lg-8">
		<div class="well">
			<form class="form-horizontal" id="register_form" method="post" action="/aggressiveBackpack/register/" enctype="multipart/form-data">
			  {% csrf_token %}
				<fieldset>
			  	<legend>Register Now!</legend>
					<!-- Username -->
				    <div class="form-group">
				      <label for="inputUsername" class="col-lg-2 control-label">Username</label>
				      <div class="col-lg-10">
				        <input type="text" class="form-control" id="inputUsername" placeholder="Username">
				      </div>
				    </div>

				    <!-- Forename -->
				    <div class="form-group">
				      <label for="inputForename" class="col-lg-2 control-label">Forename</label>
				      <div class="col-lg-10">
				        <input type="text" class="form-control" id="inputForename" placeholder="Forename">
				      </div>
				    </div>

				    <!-- Surname -->
				    <div class="form-group">
				      <label for="inputSurname" class="col-lg-2 control-label">Surname</label>
				      <div class="col-lg-10">
				        <input type="text" class="form-control" id="inputSurname" placeholder="Surname">
				      </div>
				    </div>

				    <!-- Email -->
				    <div class="form-group">
				      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
				      <div class="col-lg-10">
				        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
				      </div>
				    </div>

				    <!-- Password -->
				    <div class="form-group">
				      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
				      <div class="col-lg-10">
				        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
				      </div>
				    </div>

				    <!-- Submit button -->
				    <div class="form-group">
	                        <div class="col-lg-10 col-lg-offset-2">
	                          <button type="submit" class="btn btn-primary">Submit</button>
	                        </div>
	                      </div>
			  </fieldset>
			</form>
		</div>
	</div>
{% endif %}

	<div class='col-lg-4'>
		<div class="well">
			<h2>Why should I register?</h2>
			</br>
			<p>Signing up for a free account lets you create your own projects, collaborate with team mates and make progress on projects faster than ever!</p>
			<p>What's stopping you, <b>Sign up today!</b></p>
	</div>
	</div>
</div>

{% endblock %}
